/* default styling */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',serif;
}

h1, h2, h3, button {
  font-family: 'Raleway',serif;
}

.main-container {
   background-color: #eee;
   width: 90.7%;
   height: 100%;
   margin: auto;
}

/* end of default styling */

/* Navbar */

.nav-bar {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.35rem 0 0 6.15rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 1.61rem;
  font-family: 'Raleway',serif;
  color: #61538F;
  margin-right: 2.18rem;
  font-weight: 500;
}

.item {
  margin-right: 5.65rem;
  cursor: pointer;
}

.main-logo {
  margin-left: 1.76rem;
}

/* End of Navbar */

/* Header-Section */

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  width: 100%;
}

.header-content {
  width: 50%;
}

.header-img {
  width: 50%;
}

.main-img {
  width: 64.1rem;
  margin-top: 3.5rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-heading {
  padding-top: 8.5rem;
  font-size: 3.96rem;
  color: #1F0045;
  font-family: 'Raleway',serif;
  line-height: 6rem;
  margin-left: 7.9rem;
  font-weight: 800;
  margin-bottom: 0;
}

.header-para {
  padding-right: 5rem;
  margin-left: 7.9rem;
  font-size: 1.81rem;
  margin-top: 1.6rem;
  color: #2A2532;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: 8rem;
  margin-top: .6rem;
}

.email-main {
  outline: none;
  border-radius: .1rem;
  font-size: 1.5rem;
  color: #C0C0C0;
  padding-left: 2rem;
  border: solid .1rem #61538F;
  width: 29.8rem;
  height: 4.2rem;
}

.header-btn {
  margin-left: 1.55rem;
  outline: none;
  border: none;
  width: 20rem;
  height: 4.5rem;
  font-size: 1.45rem;
  font-weight: 700;
  background-color: #4738FB;
  color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.header-btn:hover {
  background-color: #4175F6;
}

/* End of header-section */
